<%= form_with(model: entertainment, local: true) do |form| %>
  <% if entertainment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entertainment.errors.count, "error") %> prohibited this entertainment from being saved:</h2>

      <ul>
      <% entertainment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sentence %>
    <%= form.text_field :sentence, id: :entertainment_sentence %>
  </div>

  <div class="field">
    <%= form.label :sentence_id %>
    <%= form.number_field :sentence_id, id: :entertainment_sentence_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
