<h1 class='end-header'>Entertainment Story</h1>

<div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-header">Original Statement</div>
  <div class="card-body">
    <h4 class="card-title"><%=@sentence[0].sentence %></h4>
  </div>
</div>

<% @entertainments.each do |entertainment| %>
  <div class="card bg-light mb-3" style="max-width: 50rem;">
    <div class="card-header"><%= entertainment.id %></div>
    <div class="card-body">
      <h4 class="card-title"><%= entertainment.sentence %></h4>
    </div>
  </div>
<% end %>

<br>

<div class='links'>
<%= link_to 'Home Page', '/entertainment/destroy', class: 'btn btn-secondary' %>
<br>
<%= link_to 'Learn more about Media Literacy', 'https://medialiteracynow.org/what-is-media-literacy/' %>
</div>
