<p id="notice"><%= notice %></p>

<p>
  <strong>Sentence:</strong>
  <%= @entertainment.sentence %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @entertainment.sentence_id %>
</p>

<%= link_to 'Edit', edit_entertainment_path(@entertainment) %> |
<%= link_to 'Back', entertainments_path %>
