<p id="notice"><%= notice %></p>

<h1>Media Literacy Education Tool</h1>



<% @sentences.each do |sentence| %>
  =
    <%= sentence.sentence_type %>
    <span class="sentence-buttons"><%= link_to sentence.sentence_type, show_sentences_path(sentence) %></span>
    <h2> span <h2>
    <!-- <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
    <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

<% end %>


<br>

<!-- <%= link_to 'New Sentence', new_sentence_path %> -->
