<p id="notice"><%= notice %></p>

<h1 class="media-title text-warning">Media Literacy Education Tool</h1>


<div class = 'home-page'>
  <% @sentences.each do |sentence| %>

  <%= link_to sentence.sentence_type, "/#{sentence.sentence_type}", class: 'btn btn-secondary button-home' %>

    <!-- <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
    <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

  <% end %>
</div>

<br>

<!-- <%= link_to 'New Sentence', new_sentence_path %> -->
