<p id="notice"><%= notice %></p>

<p>
  <strong>Sentence:</strong>
  <%= @number.sentence %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @number.sentence_id %>
</p>

<%= link_to 'Edit', edit_number_path(@number) %> |
<%= link_to 'Back', numbers_path %>
