<%= form_with(model: definition, local: true) do |form| %>
  <% if definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sentence %>
    <%= form.text_field :sentence, id: :definition_sentence %>
  </div>

  <div class="field">
    <%= form.label :sentence_id %>
    <%= form.number_field :sentence_id, id: :definition_sentence_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
