<h1 class='end-header'>Definition Story</h1>

<!-- <div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-header">1</div>
  <div class="card-body">
    <h4 class="card-title">This is sentence #1</h4>
  </div>
</div>

<div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-header">2</div>
  <div class="card-body">
    <h4 class="card-title">This is sentence #2</h4>
  </div>
</div>

<div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-header">3</div>
  <div class="card-body">
    <h4 class="card-title">This is sentence #3</h4>
  </div>
</div> -->


<div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-header">Original Statement</div>
  <div class="card-body">
    <h4 class="card-title"><%=@sentence[0].sentence %></h4>
  </div>
</div>

<% @definitions.each do |definition| %>

<div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-header"><%= definition.id %></div>
  <div class="card-body">
    <h4 class="card-title"><%= definition.sentence %></h4>
  </div>
</div>

<% end %>

<br>

<div class='links'>
<%= link_to 'Home Page', '/definition/destroy', class: 'btn btn-secondary' %>
<br>
<%= link_to 'Learn more about Media Literacy', 'https://medialiteracynow.org/what-is-media-literacy/' %>
</div>
