<p id="notice"><%= notice %></p>

<p>
  <strong>Sentence:</strong>
  <%= @definition.sentence %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @definition.sentence_id %>
</p>

<%= link_to 'Edit', edit_definition_path(@definition) %> |
<%= link_to 'Back', definitions_path %>
